# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .dart_tool/ directory is used by pub. It should be excluded from search results.
.dart_tool/

# The .packages file is used by pub to track the location of packages on your machine.
.packages

# Flutter/Dart related
build/
-patch.dill
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
