APP_NAME="Tolab University Backend"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_TIMEZONE=Africa/Cairo
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=ar_EG

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tolab_university
DB_USERNAME=root
DB_PASSWORD=

CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public

SANCTUM_ACCESS_TOKEN_MINUTES=15
AUTH_REFRESH_TOKEN_DAYS=30
AUTH_REFRESH_TOKEN_PEPPER=change-me
DEFAULT_ADMIN_EMAIL=admin@tolab.edu
DEFAULT_ADMIN_PASSWORD=Admin@123

MAIL_MAILER=log
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
